{include file='layout/header1'}


<!--------------------------- nav_bgimg部分 -->
<div class="nav_ancientbgimg"></div>
<!--------------------------- nav_bgimg部分结束 -->
<!--------------------------- head_nav部分 -->
<div class="head_nav">
    <div class="head_navbox">
        <div class="nav_nleft">
            <span></span>
            <a href="{:url('Index/index')}">首页</a> >
            <a href="{:url('General/general')}">概况</a> >
            <a href="">古镇旅游</a>
        </div>
    </div>
</div>
<!--------------------------- head_nav部分结束 -->
<div class="main_ancientTown">
    <div class="ancientTown_box">
        <h1 class="ancientTown_h1">
            古镇旅游
            <span>Ancient town protection</span>
        </h1>
        <div class="ancientTown_mainbox">
            <p style="text-align:center;">
                <strong style="color: rgb(32, 29, 29)">周庄——中国古镇旅游开发的先驱</strong>
            </p>
            <p>1983年，著名画家陈逸飞的画作《双桥》，让世界认识了周庄。</p>
            <p>1988年，周庄成立江苏省第一个乡镇旅游公司——“周庄汽车出租旅游服务公司”，寻求古镇旅游产业发展的道路，开创中国古镇旅游的先河。</p>
            <p>1989年4月1日，周庄售出第一张景点门票。</p>
            <p>2001年6月6日，APEC贸易部长非正式会议在周庄召开，周庄又受到了世界的瞩目。</p>
            <p>……</p>
            <p>时至今日，走进周庄古镇，水巷之间，驳岸、拱桥、粉墙、黛瓦，保存完整，吴韵厚重。井字型河道上完好保存着14座建于元、明、清各代的古石桥。800多户原住民枕河而居，60%以上的民居依旧保存着明清时期的建筑风貌。吴侬软语，阿婆茶香，橹声欸乃，昆曲悠远，“小桥流水人家”如入画卷。国画大师吴冠中先生盛赞“周庄集中国水乡之美”，建筑大师贝聿铭题词“周庄是国宝”。</p>
            <p style="text-align:center;">
                <img style="white-space:normal;" alt="" src="__STATIC__/index/static/images/general/ancientTown17.jpg">
            </p>
            <p style="text-align:center;">
                <img alt="" src="__STATIC__/index/static/images/general/ancientTown18.jpg">
            </p>
            </br>
            <p style="text-align:center;">
                <span style="line-height:1.5;color: rgb(32, 29, 29)"><strong>湖湾建设</strong></span>
            </p>
            <span style="line-height:1.5;"><br>
                    <strong style="color:rgb(32, 29, 29)">南湖湾水乡天空度假社区</strong><br>
                    　　南湖湾位于周庄镇南部，主要包括南湖长桥、南湖秋月园、莼鲈之思度假酒店板块。以水为媒、以桥为辅的特征，促进了南湖湾休闲体验空间的形成。这里坐拥周庄古八景之一“南湖秋月”，景色秀丽，四季咸宜，尤其以秋月更为醉人。当金风送爽、明月高悬时，湖面上一片碧绿，一带金黄，有“长烟一空，皓月千里，浮光跃金，静影沉璧”的意境。<br>
                    　　南湖湾项目建设一是要打造周庄文化品鉴空间，二是再现周庄古八景之一“南湖秋月”，打造周庄赏景、赏月休闲旅游地。三是打造休闲度假体验空间。四是打造周庄休闲观光游览区，拓展古镇空间。<br>
                </span>
            <p style="text-align:center;">
                <div style="line-height:1.5;"><img alt="" src="__STATIC__/index/static/images/general/ancientTown19.jpg"><br>
                </div>
            </p>
            <span style="line-height:1.5;">
                    <div style="text-align:center;">
                        <img style="line-height:1.5;" alt="" src="__STATIC__/index/static/images/general/ancientTown20.jpg">
                    </div>
                    <br>
                    <strong style="color:rgb(32, 29, 29)">蚬江湾滨湖休闲地带</strong><br>
                    　　蚬江湾位于古镇区南北市河北端，为进入古镇区一条重要的南北轴线。全功路从中穿过，北部为周庄八景之一的“急水扬帆”景点，南部为周庄1086慢生活街区。<br>
                    　　蚬江湾项目建设一是实现人在画中游，人与环境和谐交融，成为景的观一部分。二是实现画在景中现，沿蚬江湾慢步在廊、亭、谢、栈桥之间，每个视点宛如一幅江南水墨画。三是实现景在人中移，突出移步换景的园林特色。
                </span>
            <div style="white-space:normal;text-align:center;margin: 8px;">
                <img style="line-height:1.5;" alt="" src="__STATIC__/index/static/images/general/ancientTown21.jpg">
            </div>
            <div style="white-space:normal;text-align:center;">
                <strong style="line-height:1.5;"><img alt="" src="__STATIC__/index/static/images/general/ancientTown22.jpg"></strong>
            </div>
        </div>
    </div>
</div>




<!--------------------------- 尾部 -->
{include file='layout/footer'}

<script src="__STATIC__/index/static/js//head.js"></script>
</body>

</html>