{include file='layout/header1'}

<!--------------------------- nav_bgimg部分 -->
<div class="nav_generalbgimg">
</div>
<!--------------------------- nav_bgimg部分结束 -->
<!--------------------------- head_nav部分 -->
<div class="head_nav">
    <div class="head_navbox">
        <div class="nav_nleft">
            <span></span>
            <a href="{:url('Index/index')}">首页</a> >
            <a href="">概况</a>
        </div>
    </div>
</div>
<!--------------------------- head_nav部分结束 -->
<!--------------------------- general_main部分 -->
<div class="general_main">

    <div class="general_video">
        <table></table>
        <div class="general_video1">
            <video height="480px" width="852px" autoplay controls loop>
                    <source src="__STATIC__/index/static/video/generalvideo.mp4" type="video/mp4">
                </video>
        </div>
    </div>
    <div class="general_bgdimg">
        <p><img class="general_headbg" src="__STATIC__/index/static/images/general/general12.png" alt=""></p>
    </div>
    <div class="general_mainbox">
        <div class="general_picturetext">
            <div class="general_introduction">
                <div class="l_imgbox">
                    <a title="周庄简介" href="">
                        <img class="l_img" src="__STATIC__/index/static/images/general/general13.jpg" alt="周庄简介">
                    </a>
                </div>
                <div class="r_textbox">
                    <h2>周庄简介</h2>
                    <p>周庄，地处江南水乡腹地，东连上海，西邻苏州，属中国百强县（市）之首昆山。全镇区域占地面积38.96平方公里，陆地面积20.8平方千米，水域面积18.16平方千米，肖甸湖、天花荡、太师淀等湖荡相连，河港交叉，是名副其实的“鱼米...
                    </p>
                    <a class="r_textmore" href="{:url('General/introduction')}">查看更多</a>
                </div>
            </div>

            <div class="general_ancienttown">
                <div class="r_imgbox">
                    <a title="古镇旅游" href=""><img class="l_img" alt="古镇旅游" src="__STATIC__/index/static/images/general/general14.jpg"></a>
                </div>
                <div class="l_textbox">
                    <h2>古镇旅游</h2>
                    <p>时至今日，走进周庄古镇，水巷之间，驳岸、拱桥、粉墙、黛瓦，保存完整，吴韵厚重。井字型河道上完好保存着14座建于元、明、清各代的古石桥。800多户原住民枕河而居，60%以上的民居依旧保存着明清时期的建筑风貌。吴侬软语，阿...
                    </p>
                    <a class="r_textmore" href="{:url('General/ancienttown')}">查看更多</a>
                </div>
            </div>

            <div class="general_global">
                <div class="l_imgbox">
                    <a title="全域旅游" href="">
                        <img class="l_img" src="__STATIC__/index/static/images/general/general15.jpg" alt="全域旅游">
                    </a>
                </div>
                <div class="r_textbox">
                    <h2>全域旅游</h2>
                    <p>周庄古镇、乡村全域旅游游紧扣国际旅游建设总体规划和新农村建设规划，体现周庄乡村生态和人文特点，创新发展模式和经营机制，完善基础设施，培育一批具有竞争力和独具特色的乡村游景区和旅游村，形成国际化、开放型文明乡村游...
                    </p>
                    <a class="r_textmore" href="{:url('General/wholedomain')}">查看更多</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!--------------------------- general_main部分 -->




<!--------------------------- 尾部 -->

{include file='layout/footer'}

<script src="__STATIC__/index/static/js/head.js"></script>
</body>

</html>