{include file='layout/header1'}

<!--------------------------- nav_bgimg部分 -->
<div class="nav_Introductionbgimg">
</div>
<!--------------------------- nav_bgimg部分结束 -->
<!--------------------------- head_nav部分 -->
<div class="head_nav">
    <div class="head_navbox">
        <div class="nav_nleft">
            <span></span>
            <a href="{:url('Index/index')}">首页</a> >
            <a href="{:url('General/general')}">概况</a> >
            <a href="">周庄简介</a>
        </div>
    </div>
</div>
<!--------------------------- head_nav部分结束 -->
<!--------------------------- introduction_main部分 -->
<div class="main_introduction">
    <div class="introduction_box">
        <h1 class="introduction_h1">
            周庄简介
            <span>Introduction</span>
        </h1>
        <div class="main_text">
            <p>周庄在全世界享有“中国第一水乡”的美誉，被联合国教科文组织列入世界文化遗产预备清单，是首批中国历史文化名镇、首批国家AAAAA级旅游景区、首批全国特色景观名镇，入选美国CNN“全球十大最美小镇”，并获得联合国“全球优秀生态景区”的称号。</p>
            <br>
            <strong style="font-size: 16px; color: black">地理气候</strong>
            <br>
            <p>中国江南水乡古镇——周庄，位于东经120.86°、北纬31.12°，地处昆山市西南，东距上海市60多公里，西邻苏州城40公里。</p>
            <p>全镇区域占地面积38.96平方公里，陆地面积20.8平方千米，水域面积18.16平方千米，肖甸湖、天花荡、太师淀等湖荡相连，河港交叉，是名副其实的“鱼米之乡”。</p>
            <p>周庄属于亚热带季风气候，四季分明，气候湿润，日照充足，无霜期长，境内山环水绕，水源丰盛，植被葱郁。</p>
            <p style="text-align:center;">
                <img style="text-align:right;" alt="" src="__STATIC__/index/static/images/general/introduction_10.jpg">
            </p>
            <p style="text-align:center;">
                <img src="__STATIC__/index/static/images/general/introduction_11.jpg">
            </p>
            <p><strong style="font-size: 16px; color: black"><br>历史沿革</strong></p>
            <p>春秋时为吴王少子摇的封地，称“摇城”。</p>
            <p>隋唐时称“贞丰里”。</p>
            </br>
            <div>
                <p>
                    宋元祐元年（公元1086），里人周迪功郎在此收获设庄，捐田建寺，里人感其恩德，改贞丰里为周庄。
                </p>
                </br>
                <p>
                    周庄元代时属苏州府长洲县。元朝中叶，颇有传奇色彩的江南富豪沈万三之父沈佑，由湖州南浔迁徙至周庄东面的东宅村（元末又迁至银子浜附近），因经商而逐步发迹，使贞丰里出现了繁荣景象，形成了南北市河两岸以富安桥为中心的旧集镇。
                </p>
                </br>
                <p>
                    明代，镇廓扩大，向西发展至后港街福洪桥和中市街普庆桥一带，并迁肆于后港街。明代中期属松江府华亭县。
                </p>
                </br>
                <p>
                    清初，周庄复归长洲县，居民更加稠密。西栅一带渐成列肆，商业中心又从后港街迁至中市街。
                </p>
            </div>
        </div>
    </div>
</div>
<!--------------------------- introduction_main部分结束 -->


<!--------------------------- 尾部 -->

{include file='layout/footer'}

<script src="__STATIC__/index/static/js/head.js"></script>
</body>

</html>