{include file='layout/header'}

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 管理员管理
        <span class="c-gray en">&gt;</span> 管理员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <form action="{:url('Admin/lst')}" method="get">
                <div class="text-c"> 登录日期范围：
                    <input type="text" onfocus="selecttime(1)" name="start_time" value="{$Think.get.start_time}" id="datemin" class="input-text Wdate" style="width:120px;" autocomplete="off"> -
                    <input type="text" onfocus="selecttime(2)" name="end_time" value="{$Think.get.end_time}" id="datemax" class="input-text Wdate" style="width:120px;" autocomplete="off">
                    <input type="text" class="input-text" style="width:250px" value="{$Think.get.admin_name}" placeholder="输入管理员名称" id="" name="admin_name">
                    <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
                </div>
            </form>
            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l">  <a href="{:url('Admin/add')}"  class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a> </span>
            </div>
            <table class="table table-border table-bordered table-bg">
                <thead>
                    <tr>
                        <th scope="col" colspan="9">员工列表</th>
                    </tr>
                    <tr class="text-c">
                        <th width="100">ID</th>
                        <th width="250">登录名</th>
                        <th width="220">登录时间</th>
                        <th width="180">登录IP</th>
                        <th>角色</th>
                        <th width="180">创建时间</th>
                        <th width="150">状态</th>
                        <th width="100">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $data as $k=>$v}
                    <tr class="text-c">
                        <td>{$v.id}</td>
                        <td>{$v.admin_name}</td>
                        <td>{$v.login_time|date='Y-m-d H:i:s',###}</td>
                        <td>{$v.login_ip}</td>
                        <td>{$v.role_names}</td>
                        <td>{$v.add_time|date='Y-m-d H:i:s',###}</td>
                        <td class="td-status"><span class="label {if $v.status == 1}label-success{/if} radius">{if $v.status == 1}已启用{else/}已停用{/if}</span></td>
                        <td class="td-manage">
                            <!--第一步-->
                            {if $v.status == 1}
                            <a style="text-decoration:none" onClick="admin_stop(this,{$v.id})" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a> {else/}
                            <a style="text-decoration:none" onClick="admin_start(this,{$v.id})" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe615;</i></a> {/if}
                            <a title="编辑" href="{:url('Admin/edit',['id'=>$v.id])}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                            <a title="删除" href="javascript:;" onclick="admin_del(this,{$v.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
            <div style="position: absolute;right: 5%">
                {$data->render()}
            </div>
        </article>
    </div>
</section>

<!--_footer 作为公共模版分离出去-->
{include file='layout/footer'}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    /*管理员-删除*/
    function admin_del(obj, id) {
        layer.confirm('确认要删除吗？', function(index) {
            //此处请求后台程序，下方是成功后的前台处理……

            $.ajax({
                type: 'post',
                url: "{:url('Admin/del')}",
                data: {
                    'id': id
                },
                dataType: "json",
                success: function(res) {
                    if (res.status == 1) {
                        $(obj).parents("tr").remove();
                        layer.msg(res.msg, {
                            icon: 1,
                            time: 1000
                        });
                    } else {
                        layer.msg(res.msg, {
                            icon: 5,
                            time: 1000
                        });
                    }
                }
            });

        });
    }

    /*管理员-停用*/
    function admin_stop(obj, id) {
        layer.confirm('确认要停用吗？', function(index) {
            //此处请求后台程序，下方是成功后的前台处理……
            // <!--第二步-->    //第三步，取实现后台逻辑
            //ajax实现
            $.ajax({
                type: 'post',
                url: "{:url('Admin/stop')}",
                data: {
                    "id": id
                },
                dataType: "json",
                success: function(res) {
                    if (res.status == 1) {
                        $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,' + id + ')" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
                        $(obj).remove();
                        layer.msg(res.msg, {
                            icon: 5,
                            time: 1000
                        });
                    } else {
                        layer.msg(res.msg, {
                            icon: 5,
                            time: 1000
                        });
                    }
                }
            });

        });
    }

    /*管理员-启用*/
    function admin_start(obj, id) {
        layer.confirm('确认要启用吗？', function(index) {
            //此处请求后台程序，下方是成功后的前台处理……

            $.ajax({
                type: 'post',
                url: "{:url('Admin/start')}",
                data: {
                    "id": id
                },
                dataType: "json",
                success: function(res) {
                    if (res.status == 1) {
                        $(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,' + id + ')" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                        $(obj).remove();
                        layer.msg(res.msg, {
                            icon: 6,
                            time: 1000
                        });
                    } else {
                        layer.msg(res.msg, {
                            icon: 5,
                            time: 1000
                        });
                    }
                }
            });


        });
    }
    //时间插件
    function selecttime(flag) {
        if (flag == 2) {
            var endTime = $("#countTimeend").val();
            if (endTime != "") {
                WdatePicker({
                    dateFmt: 'yyyy-MM-dd',
                    maxDate: endTime
                })
            } else {
                WdatePicker({
                    dateFmt: 'yyyy-MM-dd',
                })
            }
        } else {
            var startTime = $("#countTimestart").val();
            if (startTime != "") {
                WdatePicker({
                    dateFmt: 'yyyy-MM-dd',
                    minDate: startTime
                })
            } else {
                WdatePicker({
                    dateFmt: 'yyyy-MM-dd',
                })
            }
        }
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>

</html>