 {include file='layout/header1'}

<!------------住宿背景-->
<div class="ceremony_bg"></div>

<!------------中间模块-->

<div class="mi_nav">
    <div class="strip" id="one">
        <span style="font-size: 45px;color: #444;position: absolute;left: 0;top: 50px;">周庄有礼</span>
        <img src="__STATIC__/index/static/images/scenery/scenery_bg.png" alt="">
    </div>
    <ul class="mi_nav_centent">
        <li id="hand">
            <img src="__STATIC__/index/static/images/ceremony/ceremony_1.png" alt="" id="a1">
            <div class="mi_nav_word tint">
                <h2>手工艺品</h2>
                <p style="margin:15px 0;">周庄传缂丝、苏绣、纸艺系列、竹编、土布旗袍……原汁原味的手工艺术，向世人呈献一个朴素醇厚的水乡。</p>
                <p>
                    <a href="javascript:;" style="color:#fff;">了解更多&gt&gt</a>
                </p>
            </div>
        </li>
        <li id="writing">
            <img src="__STATIC__/index/static/images/ceremony/ceremony_2.jpg" alt="" id="a2">
            <div class="mi_nav_word tint_2">
                <h2>文化制品</h2>
                <p style="margin:15px 0;">昆曲文化、财富文化……品类丰富，趣意盎然，与旅行纪念有关，让每一位旅行者能够乐享周庄，带走一份属于自己的旅行记忆。</p>
                <p>
                    <a href="javascript:;" style="color:#fff;">了解更多&gt&gt</a>
                </p>
            </div>
        </li>
        <li id="wind">
            <img src="__STATIC__/index/static/images/ceremony/ceremony_3.jpg" alt="" id="a3">
            <div class="mi_nav_word tint_3">
                <h2>风味产品</h2>
                <p style="margin:15px 0;">万三蹄、万三黄酒、万三十月白、袜底酥、富安烧饼……可以带走的水乡美味，令人唇齿难忘。</p>
                <p>
                    <a href="javascript:;" style="color:#fff;">了解更多&gt&gt</a>
                </p>
            </div>
        </li>
    </ul>
</div>

<!--------------------------- 尾部 -->

{include file='layout/footer'}

<script src=__STATIC__/index/static/js/live.js "></script>

</body>

</html>