{include file='layout/header1'}

<!--------------------------- nav_bgimg部分 -->
<div class="nav_generalbgimg">
</div>
<!--------------------------- nav_bgimg部分结束 -->
<!--------------------------- head_nav部分 -->
<div class="head_nav" id="a1">
    <div class="head_navbox">
        <div class="nav_nleft">
            <span></span>
            <a href="">首页</a> >
            <a href="">娱乐</a>
        </div>
    </div>
</div>
<!--------------------------- head_nav部分结束 -->
<!--------------------------- entertainment_main部分 -->
<div class="entertainment_main">

    <div class="entertainment_mainbox">
        <div class="performance_box">
            <img src="__STATIC__/index/static/images/entertainment/entertainment37.jpg" alt="精彩演出">
            <div class="performance_textbox">
                <h2>精彩演出</h2>
                <p class="textbox1_p1">这里有呈现江南原生态文化的水乡实景演出，一夜识江南；这里有水墨腔调的昆曲，看水袖长衣舞动如戏人生；这里有评弹声声，领略江南的风情。</p>
                <p class="textbox1_p2">
                    <a class="mvls_box" href="javascript:;">了解更多>></a>
                </p>
            </div>
        </div>
        <div class="BarCoffeeTea_box">
            <img src="__STATIC__/index/static/images/entertainment/entertainment38.jpg" alt="酒吧咖吧茶吧" id="a2">
            <div class="BarCoffeeTea_textbox">
                <h2>酒吧咖吧茶吧</h2>
                <p style="margin: 15px auto;width: 60%">周庄有特制的美酒，有醇香的咖啡，有淡香的茶水，有特别的音乐，等着你有趣的故事。</p>
                <p><a class="bar_box" style="color: #fff" href="javascript:;">了解更多>></a></p>
            </div>
        </div>
    </div>
</div>
<!-- 酒吧更多 -->
<div class="bar">
    <div class="bar_centent">
        <ul class="bar_wrap">
            <li>
                <h3>一、红庭</h3>
                <img src="__STATIC__/index/static/images/entertainment/BarCoffeeTea41.jpg" alt="">
                <p>酒吧街区里热闹的酒吧，华丽的颜色和怀旧的装饰是其特点。</p>
            </li>
            <li>
                <h3>二、纸箱王露天音乐吧</h3>
                <img src="__STATIC__/index/static/images/entertainment/BarCoffeeTea42.jpg" alt="">
                <p style="text-indent: 2px;">可以和三五好友，一边分享露天烧烤的美味欢乐，一边尽情沉醉在富有质感的音乐声里。</p>
            </li>
            <li>
                <h3>三、汤小糖</h3>
                <img src="__STATIC__/index/static/images/entertainment/BarCoffeeTea43.jpg" alt="">
                <p>饿了？渴了？还是累了？来汤小糖解馋、解渴、解闷。健康早午餐，悠闲下午茶，K歌小聚喝点酒。</p>
            </li>
        </ul>
    </div>
    <div class="close">
    </div>
</div>
<!-- 精彩表演 -->
<div class="performance_wrap">
    <div class="performance_main">
        <div class="pfmc_box">
            <div class="fourseasons_box">
                <div class="fourseasons_textbox">
                    <h2>四季周庄</h2>
                    <div class="textbox_p">这是一部呈现江南原生态文化的水乡实景演出，以明初江南首富沈万三和陆丽娘优美的爱情故事为主线，从相识相恋，两人的爱情走过了春夏秋冬，最终结成连理。</div>
                    <a class="more_bt" href="">查看更多</a>
                </div>
            </div>
            <div class="ancientStage_box">
                <div class="ancientStage_textbox">
                    <h2>古戏台</h2>
                    <div class="textbox_p">
                        水墨腔调，水袖长衣，余音环绕，水滋水味。人生如戏，戏如人生。百戏之祖在生旦净末丑的演绎下如梦如幻，金戈铁马、鸟鸣莺啭，人生的爱情情仇、悲欢聚散，都在古戏台上一幕幕铺展……一壶阿婆茶，数碟点心，一段回味，一场大梦！
                    </div>
                    <a class="more_bt" href="">查看更多</a>
                </div>
            </div>
            <div class="PingTan_box">
                <div class="PingTan_textbox">
                    <h2>
                        聚宾楼评弹表演
                    </h2>
                    <img src="__STATIC__/index/static/images/entertainment/performance_40.png" alt="">
                    <div class="textbox_p">一壶阿婆茶，几碟茶点，亲朋好友，围坐一桌，聊天解乏，悦听评弹。《江南好》、《黛玉葬花》、《太湖美》、《杜十娘》等经典曲目，声声入耳，甚为惬意。 </div>
                    <a class="more_bt" href="">查看更多</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mvls_close">
    </div>
</div>

<!--------------------------- 尾部 -->

{include file='layout/footer'}


<script src="__STATIC__/index/static/js/head.js"></script>
<script src="__STATIC__/index/static/js/entertainment.js"></script>
</body>

</html>