 {include file='layout/header1'}

<!--------------------------- nav_bgimg部分 -->
<div class="food_bgimg"></div>
<!--------------------------- nav_bgimg部分结束 -->
<!--------------------------- head_nav部分 -->
<div class="head_nav" id="a1">
    <div class="head_navbox">
        <div class="nav_nleft">
            <span></span>
            <a href="">首页</a> >
            <a href="">美食</a>
        </div>
    </div>
</div>
<!--------------------------- head_nav部分结束 -->
<!---------------------------food_main部分 -->
<div class="food_main">
    <div class="food_mainbox">
        <div class="main_beautyfood">
            <p>
                <a href=""><img style="margin:0 auto" src="__STATIC__/index/static/images/food/food_bg2.png"></a>
            </p>
            <ul class="beautyfood_img">
                <li>
                    <a href=""><img width="386" height="310" alt="特色小吃 " src="__STATIC__/index/static/images/food/food52.jpg">
                        <h2 style="margin-top: 20px;font-weight: normal;font-size: 30px;margin-bottom: 20px;border-bottom: 2px solid #444;padding-bottom: 15px;display: inline-block;">
                            特色小吃</h2>
                    </a>
                    <p><a href="">了解更多>></a></p>
                </li>


                <li>
                    <a href=""><img width="386" height="310" alt="水产水鲜 " src="__STATIC__/index/static/images/food/food53.jpg">
                        <h2 style="margin-top: 20px;font-weight: normal;font-size: 30px;margin-bottom: 20px;border-bottom: 2px solid #444;padding-bottom: 15px;display: inline-block;">
                            水产水鲜</h2>
                    </a>
                    <p><a href="">了解更多>></a></p>
                </li>


                <li>
                    <a href=""><img width="386" height="310" alt="特色菜肴 " src="__STATIC__/index/static/images/food/food54.jpg">
                        <h2 style="margin-top: 20px;font-weight: normal;font-size: 30px;margin-bottom: 20px;border-bottom: 2px solid #444;padding-bottom: 15px;display: inline-block;">
                            特色菜肴</h2>
                    </a>
                    <p id="a2"><a href="">了解更多>></a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="main_famousfood">
        <p style="margin-bottom: 30px">
            <a href=""><img class="recommended" src="__STATIC__/index/static/images/food/food55.png"></a>
        </p>
        <ul class="famousfood_img">
            <li><img src="__STATIC__/index/static/images/food/food56.jpg" alt=""></li>
            <li>
                <a href=""><img src="__STATIC__/index/static/images/food/food57.jpg" alt="老灶头——周庄人的老滋味"></a>
                <div class="old_taste">
                    <a href="">
                        <h2 style="margin-top: 20px;font-weight: normal;font-size: 30px;margin-bottom: 20px;border-bottom: 2px solid #444;padding-bottom: 15px;display: inline-block;margin-top: 40px">老灶头——周庄人的老滋味</h2>
                        <p><a href="">了解更多>></a></p>
                    </a>
                </div>
            </li>
            <li>
                <a href=""><img alt="纸箱王创意餐厅——纸上的台式美味 " src="__STATIC__/index/static/images/food/food58.jpg"></a>
                <div class="Desktop_delicious">
                    <a href="">
                        <h2>纸箱王创意餐厅——纸上的台式美味</h2>
                    </a>
                    <p><a href="">了解更多>></a></p>
                </div>
            </li>
            <li>
                <a href=""><img alt="桔梗餐厅——花间拾味，在水乡 " src="__STATIC__/index/static/images/food/food59.jpg">
                </a>
                <div class="flowers">
                    <a href="">
                        <h2 style="margin-top: 20px;font-weight: normal;font-size: 30px;margin-bottom: 20px;border-bottom: 2px solid #444;padding-bottom: 15px;display: inline-block;margin-top: 40px">桔梗餐厅——花间拾味，在水乡</h2>
                    </a>
                    <p><a href="">了解更多>></a></p>
                </div>
            </li>
            <li>
                <a href=""><img alt="妈妈菜馆——这就是家的味道 " src="__STATIC__/index/static/images/food/food60.jpeg">
                </a>
                <div class="home">
                    <a href="">
                        <h2 style="margin-top: 20px;font-weight: normal;font-size: 30px;margin-bottom: 20px;border-bottom: 2px solid #444;padding-bottom: 15px;display: inline-block;margin-top: 40px">妈妈菜馆——这就是家的味道</h2>
                    </a>
                    <p><a href="">了解更多>></a></p>
                </div>

            </li>
        </ul>
    </div>
</div>



<!--------------------------- 尾部 -->

{include file='layout/footer'}

<script src="__STATIC__/index/static/js/head.js"></script>
</body>

</html>