 {include file='layout/header1'}

<!------------住宿背景-->
<div class="live_bg" id="a1"></div>

<!------------中间模块-->
<div class="live_middle">
    <!------------- 度假酒店 -->
    <div class="hotel" id="hotel_1">
        <div class="hotel_top">
            <h2>度假酒店</h2>
            <span>Resort Hotel</span>
            <img src="__STATIC__/index/static/images/live/middle_bg_1.png" alt="">
        </div>
        <ul class="hotel_content">
            <li class="hotel_content_1">
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/live/middle_bg.jpg" alt="">
                </a>
                <div class="word">
                    <h2>
                        <a href="javascript:;">水之韵酒店</a>
                    </h2>
                    <p>周庄水之韵酒充满水乡风情，集当地建筑古朴风格与现代化居住的舒适环境内外于一体，房间干净整洁，环境幽雅。酒店为顾客奉上周庄... </p>
                    <p class="word_one">
                        <a href="javascript:;">查看更多</a>
                    </p>
                </div>
            </li>
            <li class="hotel_content_2">
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/live/middle_bg_2.jpg" alt="">
                </a>
                <div class="word">
                    <h2 style="margin-top:30px;margin-bottom:20px;">
                        <a href="javascript:;">莼鲈之思度假酒店</a>
                    </h2>
                    <p>有一种生活叫周庄，有一种休闲就在莼鲈之思度假酒店，这里是旅行者享受水乡休闲度假体验的首选。这里没有快节奏的生活，没有生活... </p>
                    <p>
                        <a href="javascript:;">查看更多</a>
                    </p>
                </div>
            </li>
            <li class="hotel_content_3">
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/live/middle_bg_3.png" alt="">
                </a>
                <div class="word">
                    <h2 style="margin-top:30px;margin-bottom:20px;">
                        <a href="javascript:;">莼鲈之思度假酒店</a>
                    </h2>
                    <p>有一种生活叫周庄，有一种休闲就在莼鲈之思度假酒店，这里是旅行者享受水乡休闲度假体验的首选。这里没有快节奏的生活，没有生活... </p>
                    <p>
                        <a href="javascript:;" id="a2">查看更多</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <!--------------精品客栈-->
    <div class="hotel" id="lnn">
        <div class="hotel_top">
            <h2>精品客栈</h2>
            <img src="__STATIC__/index/static/images/live/middle_bg_1.png" alt="">
        </div>
        <ul class="hotel_content">
            <li class="hotel_content_1">
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/live/lnn_bg.png" style="width:580px;height:380px" alt="">
                </a>
                <div class="word">
                    <h2>
                        <a href="javascript:;">贞固堂</a>
                    </h2>
                    <p>周庄贞固堂民居客栈位于太平桥畔，距离双桥仅一步之遥。始建于民国初期，内部建筑结构精巧，高墙花窗、粉墙黛瓦，以木制家具为主... </p>
                    <p>
                        <a href="javascript:;">查看更多</a>
                    </p>
                </div>
            </li>
            <li class="hotel_content_2">
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/live/lnn_bg_1.jpg" style="width:580px;height:380px" alt="">
                </a>
                <div class="word">
                    <h2 style="margin-top:30px;margin-bottom:20px;">
                        <a href="javascript:;">意在青云</a>
                    </h2>
                    <p>形入紫闼，而意在青云。客栈座落在周庄古镇中心位置，每间客房都各具特点，充分体现了中国建筑的特色，在喧嚣中让客人享受一份悠... </p>
                    <p>
                        <a href="javascript:;">查看更多</a>
                    </p>
                </div>
            </li>
            <li class="hotel_content_3">
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/live/lnn_bg_2.jpg" style="width:580px;height:380px" alt="">
                </a>
                <div class="word">
                    <h2 style="margin-top:30px;margin-bottom:20px;">
                        <a href="javascript:;">碧水云居</a>
                    </h2>
                    <p>客栈座落在周庄古镇中心注明的富安桥旁，客栈为古典江南人家式建筑，中式庭院景致细腻精美，环境幽雅，闹中取静。客栈装饰精致，... </p>
                    <p>
                        <a href="javascript:;" id="a3">查看更多</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <!--------- 特色乡居 -->
    <div class="hotel" id="country">
        <div class="hotel_top">
            <h2>特色乡居</h2>
            <img src="__STATIC__/index/static/images/live/middle_bg_1.png" alt="">
        </div>
        <ul class="hotel_content">
            <li class="hotel_content_1">
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/live/country_bg.jpg" style="width:580px;height:380px" alt="">
                </a>
                <div class="word" style="height:380px;">
                    <h2>
                        <a href="javascript:;">周庄·香村</a>
                    </h2>
                    <p>香村·祁庄位于周庄镇三珠浜村，是依托周庄古镇的深度乡村文旅度假品牌，距离上海约80公里，距离周庄古镇约5公里，临近肖甸湖森林... </p>
                    <p class="word_one">
                        <a href="javascript:;">查看更多</a>
                    </p>
                </div>
            </li>

        </ul>
    </div>
</div>

<!--------------------------- 尾部 -->

{include file='layout/footer'}

<script src=__STATIC__/index/static/js/live.js "></script>
</body>

</html>