 {include file='layout/header1'}


<!------------景点背景-->
<div class="scenery_bg"></div>

<!------------中间模块-->
<div class="middle">
    <!------------经典必游-->
    <div class="swim" id="one">
        <span style="font-size: 45px;color: #444;position: absolute;left: 0;top: 50px;">经典必游</span>
        <img src="__STATIC__/index/static/images/scenery/scenery_bg.png" alt="">
    </div>
    <!------------------------ 内容 -------------->
    <div class="content">
        <ul class="content_wrap">
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_1.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">双桥</a>
                </h3>
                <p>双桥由一座石拱桥——世德桥和一座石梁桥——永安桥组成。桥面一横一竖，桥洞一方一圆，样子很像是古时候人们使用的钥匙。清澈的银子浜和南北市河在镇区东北交汇成十字，河上的石桥联袂筑，显得十分别致。</p>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_2.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">沈厅</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_3.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">沈厅</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_4.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">富安桥</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_5.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">迷楼</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
        </ul>
    </div>
    <hr id="a2">
    <!------------原住民风---->
    <div class="swim" id="two">
        <span style="font-size: 45px;color: #444;position: absolute;left: 0;top: 50px;">原住民风</span>
        <img src="__STATIC__/index/static/images/scenery/scenery_bg.png" alt="">
    </div>
    <!------------------------ 内容 -------------->
    <div class="content">
        <ul class="content_wrap">
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_6.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">吴爷爷小院</a>
                </h3>
                <p>老周庄人的居家生活。热情好客的吴爷爷是地道的周庄人，小院里种满了牡丹、昙花。吴爷爷是周庄的老领导了，熟悉周庄发展的点点滴滴，以及900岁周庄的历史典故和民风民俗，还有当年陈逸飞到周庄的趣味轶事。</p>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_7.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">三毛茶楼</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_8.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">全功路社区服务中心</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_9.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">富贵园广场周末老电影</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_10.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">南湖鱼市</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
        </ul>
    </div>
    <hr id="a3">
    <!------------主题街区-->
    <div class="swim" id="three">
        <span style="font-size: 45px;color: #444;position: absolute;left: 0;top: 50px;">主题街区</span>
        <img src="__STATIC__/index/static/images/scenery/scenery_bg.png" alt="">
    </div>
    <!------------------------ 内容 -------------->
    <div class="content">
        <ul class="content_wrap">
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_11.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">江南文化体验街区</a>
                </h3>
                <p>贞丰文化街上汇集了缂丝坊、苏绣坊、圆木坊、砖坯艺坊、铁匠坊、鞋艺坊、竹编坊、核雕坊、土布坊……十二坊每一坊都是典型的周庄，原住民用原汁原味的艺术，亲手呈献朴素醇厚的水乡。 地址：纸箱王——青龙桥——贞丰文化街</p>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_12.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">“小桥流水人家”观光街区</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_13.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">1086慢生活街区</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_14.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">南湖风物文创街区</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_15.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">南湖湾水乡天空度假社区</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
        </ul>
    </div>
    <hr id="a4">
    <!-------文化艺栈------->
    <div class="swim" id="four">
        <span style="font-size: 45px;color: #444;position: absolute;left: 0;top: 50px;">文化艺栈</span>
        <img src="__STATIC__/index/static/images/scenery/scenery_bg.png" alt="">
    </div>
    <!------------------------ 内容 -------------->
    <div class="content">
        <ul class="content_wrap">
            <li class="four_bg">
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_16.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">影艺小院</a>
                </h3>
                <p>这是国内旅游景区成立的第一家为游客提供摄影服务的艺术小院，开创了旅游摄影结合的新尝试。在传承摄影文化、发展摄影艺术的同时，为摄影爱好者们提供专属定制化服务。</p>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_17.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">南湖古琴社</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_18.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">月上·周庄</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_19.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">纸箱王创意园区</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__STATIC__/index/static/images/scenery/scenery_bg_20.jpg" alt="">
                </a>
                <h3>
                    <a href="javascript:;">南社百年书院</a>
                </h3>
                <a href="javascript:;" class="scenery_more">了解更多>></a>
            </li>
        </ul>
    </div>
</div>

<!--------------------------- 尾部 -->

{include file='layout/footer'}


<script src=__STATIC__/index/static/js/live.js "></script>

</body>

</html>