/************住宿背景******************/

.live_bg {
    width: 100%;
    height: 600px;
    background: url(../images/live/live_bg.jpg) no-repeat center center;
    background-size: cover;
}


/**********中间模块 *********************/

.live_middle {
    width: 100%;
    background: #eef6f8;
}


/******** 度假酒店 **********/

.hotel,
.lnn {
    width: 75pc;
    margin: 0 auto;
    padding-top: 50px;
}

.hotel_top {
    position: relative;
}

.hotel_top>h2 {
    position: absolute;
    top: -15px;
    left: 440px;
    font-size: 45px;
    color: #666;
    font-family: 宋体;
    font-weight: bold;
}

.hotel_top>span {
    position: absolute;
    top: 10px;
    right: 350px;
    font-size: 22px;
    color: #666;
    font-family: 宋体;
    font-weight: bold;
}

.hotel_top>img {
    display: block;
    margin: 0 auto;
}

.hotel_content:after {
    content: "";
    display: block;
    clear: both;
}

.hotel_content>li:after {
    content: '';
    clear: both;
    display: block;
}

.hotel_content_1 {
    float: inherit;
    width: 1200px;
    margin-bottom: 60px;
    margin-left: 0;
}

.hotel_content_2 {
    float: left;
    margin-right: 40px;
    width: 580px;
    margin-bottom: 60px;
}

.hotel_content_3 {
    float: left;
    margin-left: 0;
    width: 580px;
    margin-bottom: 60px;
}

.hotel_content_1>a,
.hotel_content_2>a,
.hotel_content_3>a {
    float: left;
    display: block;
    width: 580px;
}

.hotel_content_1>a>img,
.hotel_content_2>a>img,
.hotel_content_3>a>img {
    width: 100%;
    height: 100%;
    display: block;
}

.word {
    position: relative;
    float: right;
    width: 580px;
    height: 386.64px;
}

.word>h2 {
    font-weight: normal;
    font-size: 30px;
    margin-top: 200px;
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 2px solid #666;
}

.word>p {
    margin-bottom: 30px;
    color: #666
}

.word>p.word_one {
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
}

.word>p:nth-child(3)>a {
    display: inline-block;
    width: 125px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background: #B6A292;
    font-size: 15px;
}

.word>p:nth-child(3)>a:hover {
    background: #A28671;
}