.main {
    position: relative;
}

.login_form {
    position: absolute;
    top: 220px;
    left: 1230px;
    width: 470px;
    height: 530px;
    padding: 0 30px;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
}

.login_form p:nth-child(2) {
    font-size: 32px;
    line-height: 60px;
    margin-top: 20px;
    letter-spacing: 4px;
    border-bottom: 1px solid #000;
}

.login_form p:nth-child(3) {
    font-size: 18px;
    line-height: 50px;
}

.login_form p:nth-child(3) a {
    color: red;
}

.login_form p:nth-child(4),
.login_form p:nth-child(5) {
    width: 100%;
    height: 40px;
    margin-top: 30px;
}

.login_form p:nth-child(4) span {
    float: left;
    width: 40px;
    height: 40px;
    background: url(../images/user/yonghuming.png);
}

.login_form p:nth-child(5) span {
    float: left;
    width: 40px;
    height: 40px;
    background: url(../images/user/mima.png);
}

.login_form p:nth-child(4) input,
.login_form p:nth-child(5) input {
    margin-left: 20px;
    float: left;
    height: 40px;
    width: 350px;
    border: none;
    font-size: 18px;
    background: #fff;
    border-radius: 5px;
}

.login_form p:nth-child(6) {
    width: 100%;
    height: 50px;
    margin-top: 30px;
}

.login_form p:nth-child(6) .ioocyzm {
    float: left;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    background: url(../images/user/yanzhengma.png);
}

.login_form p:nth-child(6) input {
    margin-left: 20px;
    float: left;
    height: 50px;
    width: 180px;
    border: none;
    font-size: 18px;
    background: #fff;
    border-radius: 5px;
}

.login_form p:nth-child(7) {
    line-height: 90px;
    text-align: right;
    font-size: 18px;
}

.login_form p:nth-child(7) a {
    color: #666;
}

.login_form div {
    width: 150px;
    height: 60px;
    margin: 0 auto;
    background: red;
}

.login_form div a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #fff;
    line-height: 60px;
    text-align: center;
}