<!--------------------------- 尾部 -->
<a href="javascript:;" id="up" style="display: none;">
    <img src="__STATIC__/index/static/images/index/floatbtn2.png" alt="">
</a>
<footer>
    <div class="footer_middle center">
        <div class="ft_middle_top">
            <dl>
                <dt><a href="{:url('General/general')}">概况</a></dt>
                <dd><a href="{:url('General/introduction')}">周庄简介</a></dd>
                <dd><a href="{:url('General/ancienttown')}">古镇旅游</a></dd>
                <dd><a href="{:url('General/wholedomain')}">全域旅游</a></dd>
            </dl>
            <dl>
                <dt><a href="{:url('Navigation/live')}">住宿</a></dt>
                <dd><a href="{:url('Navigation/live')}#a1">度假酒店</a></dd>
                <dd><a href="{:url('Navigation/live')}#a2">精品客栈</a></dd>
                <dd><a href="{:url('Navigation/live')}#a3">特色乡居</a></dd>

            </dl>
            <dl>
                <dt><a href="{:url('Navigation/food')}">美食</a></dt>
                <dd><a href="{:url('Navigation/food')}#a1">名店推荐</a></dd>
                <dd><a href="{:url('Navigation/food')}#a2">美滋美味</a></dd>
            </dl>
            <dl>
                <dt><a href="{:url('Navigation/scenery')}">景点</a></dt>
                <dd><a href="{:url('Navigation/scenery')}#one">经典必游</a></dd>
                <dd><a href="{:url('Navigation/scenery')}#a2">原住民风体验点</a></dd>
                <dd><a href="{:url('Navigation/scenery')}#a3">主题街区</a></dd>
                <dd><a href="{:url('Navigation/scenery')}#a4">文化艺栈</a></dd>
            </dl>
            <dl>
                <dt><a href="{:url('Navigation/entertainment')}">娱乐</a></dt>
                <dd><a href="{:url('Navigation/entertainment')}#a1">精彩演出</a></dd>
                <dd><a href="{:url('Navigation/entertainment')}#a2">酒吧咖吧茶吧</a></dd>
            </dl>
            <dl>
                <dt><a href="{:url('Navigation/ceremony')}">周庄有礼</a></dt>
                <dd><a href="{:url('Navigation/ceremony')}#a1">手工艺品</a></dd>
                <dd><a href="{:url('Navigation/ceremony')}#a2">文化制品</a></dd>
                <dd><a href="{:url('Navigation/ceremony')}#a3">风味产品</a></dd>
            </dl>
        </div>
        <div class="ft_middle_bottom">
            <a href="">
                <img src="__STATIC__/index/static/images/index/bottom_logo.png" alt="">
            </a>
        </div>
    </div>
    <div class="ft_state center">

        <div class="ft_state_link">
            <a href="">版权声明</a> |
            <a href="">联系我们</a> |
            <a href="">友情链接</a> |
            <a href="">网络预订</a> |
            <a href="" class="ft_state_link_s">
                <span></span> 周庄微信服务号
            </a> |
            <a href="">周庄新浪微博</a>
        </div>
        <div class="ft_state_copyright">
            <span>Copyright © 2019  仅供学习交流，不作商业用途　网站建设:今日小组&nbsp&nbsp&nbsp&nbsp&nbsp</span>
            <a href="">ICP备案号xxxxxxxx号</a>
            <span id="ft_s_icon">
                    <a href="">
                        <img src="__STATIC__/index/static/images/index/index_42.gif" alt="">
                    </a>
                </span>
        </div>
    </div>
</footer>