<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--适应手机窗口大小-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, use-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>周庄旅游官方网站</title>
    <link rel="shortcut icon" href="__STATIC__/index/static/images/favicon.png">


    <link rel="stylesheet" href="__STATIC__/index/static/lib/bootstrap.css">
    <link rel="stylesheet" href="__STATIC__/index/static/css/tail.css">
    <link rel="stylesheet" href="__STATIC__/index/static/css/initial.css">
    <link rel="stylesheet" href="__STATIC__/index/static/css/tickets.css">
    <link rel="stylesheet" href="__STATIC__/index/static/css/booking.css">
    <link rel="stylesheet" href="__STATIC__/index/static/css/login.css">
    <link rel="stylesheet" href="__STATIC__/index/static/css/registered.css">
    <link rel="stylesheet" href="__STATIC__/index/static/css/personal.css">
    <link rel="stylesheet" href="__STATIC__/index/static/css/bookedit.css">


</head>

<body>
    <!------------------------ 顶部  -->
    <header>
        <div class="hd-c center">
            <div class="hd-logo">
                <a href="{:url('Index/index')}"></a>
            </div>
            <ul class="hd-nav">
                <li class="a_hover">
                    <a href="{:url('Index/index')}">首页<span>Home</span></a>
                </li>
                <li class="a_hover">
                    <a href="{:url('General/general')}">概况<span>Introduction</span></a>

                </li class="a_hover">
                <li class="a_hover">
                    <a href="{:url('Navigation/live')}">住宿<span>Lodging</span></a>

                </li>
                <li class="a_hover">
                    <a href="{:url('Navigation/food')}">美食<span>Delicious</span></a>

                </li>
                <li class="a_hover">
                    <a href="{:url('Navigation/scenery')}">景点<span>Scenic spot</span></a>

                </li>
                <li class="a_hover">
                    <a href="{:url('Navigation/entertainment')}">娱乐<span>Recreation</span></a>

                </li>
                <li class="a_hover">
                    <a href="{:url('Navigation/ceremony')}">周庄有礼<span>Specialty</span></a>

                </li>

            </ul>

            <div class="hd-gz">
                <a href="" target="_blank">EN</a>
                <a href="{:url('Navigation/tickets')}">即刻预订</a>
            </div>

            <div class="search">
                <form action="" method="get" class="ser_frame">
                    <input type="sumbit" id="ser_btn">
                    <input type="text" name="word" id="ser_word" placeholder="请输入搜索关键词...">
                </form>
            </div>
        </div>
    </header>