 {include file='layout/header2'}

<!--------------------------- 版心 -->
<div class="headerbgd"></div>
<div class="main" style="height: 100%;">
    <table></table>
    <div class="zhuce_form">
        <form id="registeredform" action="{:url('registered')}" method="post">
            <table></table>
            <p>注册</p>
            <p>已有账号？&nbsp;&nbsp;<a href="{:url('User/login')}">去登录</a></p>
            <p>用户名<input type="text" name="user_name" id="name" placeholder="请输入4-16位字符（字母，数字，下划线）"></p>
            <p>密码<input type="password" name="user_password" id="password" placeholder="最少6位，包括至少1个小写字母，1个数字"></p>
            <p>确认密码<input type="password" name="user_password2" id="password2"></p>
            <p>邮箱<input type="email" name="user_email" id="email"></p>
            <p>验证码</br><input type="text" name="ca_code" id="yanzhengma"><a href="javascript:;" id="test" onclick="getemailyzm()">获取邮箱验证码</a></p>
            <div>
                <a href="javascript:zhuce();">立即注册</a>
            </div>
        </form>
    </div>
</div>

</div>
<!--------------------------- 尾部 -->

{include file='layout/footer'}
<script src="__STATIC__/index/static/js/jquery-1.8.3.min.js"></script>
<script>
    function zhuce() {
        var name = document.getElementById("name").value;
        var password = document.getElementById("password").value;
        var password2 = document.getElementById("password2").value;
        var email = document.getElementById("email").value;
        var yanzhengma = document.getElementById("yanzhengma").value;

        var namereg = /^[a-zA-Z0-9_]{4,16}$/; //4-16位字母，数字，下划线
        var passwordreg = /^.*(?=.{6,})(?=.*\d)(?=.*[a-z]).*$/; //最少6位，包括至少1个小写字母，1个数字
        var emailreg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/; //email正则

        if (name === null || name === "" || name === undefined) {
            alert("请输入用户名！");
            return;
        } else if (!namereg.test(name)) {
            alert("请输入正确格式的用户名！");
            return;
        }

        if (password === null || password === "" || password === undefined) {
            alert("请输入密码！");
            return;
        } else if (!passwordreg.test(password)) {
            alert("请输入正确格式的密码！");
            return;
        }
        if (password2 === null || password2 === "" || password2 === undefined) {
            alert("请再次输入密码！");
            return;
        } else if (password2 != password) {
            alert("两次密码输入不一致！");
            return;
        }

        if (email === null || email === "" || email === undefined) {
            alert("请输入邮箱！");
            return;
        } else if (!emailreg.test(email)) {
            alert("请输入正确的邮箱地址！");
        }

        if (yanzhengma === null || yanzhengma === "" || yanzhengma === undefined) {
            alert("请输入验证码！");
            return;
        }
        registeredform.submit(); //执行提交命令
    };
    var weiTime = 60;

    function getemailyzm() {

        var emailv = document.getElementById("email").value;
        var emailreg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/; //email正则
        if (emailv === null || emailv === "" || emailv === undefined) {
            alert("请输入邮箱！");
            return;
        } else if (!emailreg.test(emailv)) {
            alert("请输入正确的邮箱地址！");
        }
        $.ajax({
            type: 'post',
            url: "{:url('User/getemail')}",
            data: {
                'email': emailv
            },
            dataType: 'json',

            success: function(res) {

                if (res.status == 1) {
                    alert('发送成功！');

                } else {
                    alert('发送失败！');
                }

            }

        });

        time();

    }

    function time() {
        var geta = document.getElementById("test");
        if (weiTime == 0) {
            // geta.disabled = false;
            // geta.onclick = "getemailyzm()";
            geta.style.pointerEvents = "";
            geta.innerHTML = "获取邮箱验证码";
            weiTime = 60;

        } else {
            // geta.disabled = ture;
            geta.style.pointerEvents = "none";
            geta.innerHTML = "重新发送" + weiTime;
            // geta.onclick = "";
            weiTime--;
            setTimeout(function() {
                time()
            }, 1000)
        }
    }
</script>

</body>

</html>